<h1>
  Cohort Record
</h1>

<div>
  Name:
  <%= @cohort.id %>
</div>
<div>
  Name:
  <%= @cohort.cohort_name %>
</div>
<div>
  Start Date:
  <%= @cohort.start_date %></div>
<div>
  End Date:
  <%= @cohort.end_date %></div>
<div>
  Instructor
  <%= @cohort.instructor_teaching%></div>
<div>
  Total # of students
  <%= @cohort.students_in_cohort%></div>
<div>
  Created At:
  <%= @cohort.created_at %></div>
<div>
  Updated At:
  <%= @cohort.updated_at %></div>
