<h1>
  Create Student's Profile
</h1>

<%= form_for @student do |f| %>
<div>
  <%= f.label :first_name%>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :date_of_birth%>
  <%= f.date_field :date_of_birth %>
</div>
<div>
  <%= f.label :highest_ed %>
  <%= f.text_field :highest_ed %>
</div>
<div>
  <%=f.submit%>
</div>
<%end%>
