<h1>
  Student Profile
</h1>

<div>
  Name:
  <%= @student.id %>
</div>
<div>
  Name:
  <%= @student.first_name %>
  <%= @student.last_name %>
</div>
<div>
  DOB
  <%= @student.date_of_birth %></div>
<div>
  Highest Education
  <%= @student.highest_ed%></div>
<div>
  Created At:
  <%= @student.created_at %></div>
<div>
  Updated At:
  <%= @student.updated_at %></div>
