<h1>
  <a href="<%= new_students_cohort_path %>">
    Students Active in Cohorts
  </a>
</h1>

<% @studentscohorts.each do |studentcohort| %>

  <div>
    Student ID:
    <%= studentcohort.student_id %>
  </div>
  <div>
    Cohort ID:
    <%= studentcohort.cohort_id %>
  </div>

  <div>
    <a href="<%=students_cohort_path(studentcohort)%>" data-disable-with="processing...">Views</a>
    <a href="<%=edit_students_cohort_path(studentcohort)%>">Edit</a>
    <a href="<%=students_cohort_path(studentcohort)%>" data-method="DELETE">Delete</a>
  </div>
<%end%>
