<%= form_for @instructor do |f| %>
<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth %>
</div>
<div>
  <%= f.label :salary %>
  <%= f.text_field :salary %>
</div>
<div>
  <%= f.label :highest_ed %>                                                                                                                                                                                                                                                                                                                        %>
  <%= f.text_field :highest_edu %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
