<h1>
  <a href="<%= new_instructor_path %>">
    Active Instructors
  </a>
</h1>

<a href="<%= dashboard_path %>">dashboard</a>

<% @instructors.each do |instructor| %>

  <div>
    First Name:
    <%= instructor.first_name %>
  </div>
  <div>
    Last Name:
    <%= instructor.last_name %>
  </div>
  <div>
    DOB:
    <%= instructor.date_of_birth %>
  </div>
  <div>
    Salary:
    <%= instructor.salary %>
  </div>
    <div>
      highest Education:
      <%= instructor.highest_edu %>
    </div>
    <div>
      <a href="<%=instructor_path(instructor)%>" data-disable-with="processing...">Views</a>
      <a href="<%=edit_instructor_path(instructor)%>">Edit</a>
      <a href="<%=instructor_path(instructor)%>" data-method="DELETE">Delete</a>
    </div>
  <%end%>
