<h1>
  Instructor Profile
</h1>

<div>
  Name:
  <%= @instructor.id %>
</div>
<div>
  Name:
  <%= @instructor.first_name %>
  <%= @instructor.last_name %>
</div>
<div>
  DOB
  <%= @instructor.date_of_birth %></div>
<div>
  Highest Education
  <%= @instructor.highest_edu %></div>
<div>
  Created At:
  <%= @instructor.created_at %></div>
<div>
  Updated At:
  <%= @instructor.updated_at %></div>
