<h1>
  <a href="<%= new_course_path %>">
    Active Courses
  </a>
</h1>

<a href="<%= dashboard_path %>">dashboard</a>

<% @courses.each do |course| %>

  <div>
    Subject:
    <%= course.subject %>
  </div>

  <div>
    Total Class Hours:
    <%= course.total_class_hours %>
  </div>

    <div>
      <a href="<%=course_path(course)%>" data-disable-with="processing...">Views</a>
      <a href="<%=edit_course_path(course)%>">Edit</a>
      <a href="<%=course_path(course)%>" data-method="DELETE">Delete</a>
    </div>
  <%end%>
