<h1>
  Course Profile
</h1>

<div>
  Name:
  <%= @course.id %>
</div>
<div>
  Subject Name:
  <%= @course.subject %>
</div>
<div>
  Total Class Hours:
  <%= @course.total_class_hours %>
</div>
<div>
  Created At:
  <%= @course.created_at %>
</div>
<div>
  Updated At:
  <%= @course.updated_at %>
</div>
